
#ham{
font-size: 2em;
display:none;
float: right;
}
/*header*/

#header {
	position: fixed;
	z-index: 1;
	width: 100%;
}
#header a{
	text-decoration: none;
	color: inherit;
}


.head h1, .head h2{
	margin: 0;
}
.head h2{
	font-size: 16px;
}


/*navigation*/
#header nav{
	margin: 0.8%;
	margin-right: 0;
	overflow: hidden;
	text-align: center;

}
#header nav li{
	display:inline; 
	margin-right:25px; 
	text-transform:uppercase;
}
#header nav li a{
	padding: 2%;
}
#header nav li a:hover{
	color:orange; 

}

 .active{
	color:aqua !important; 
	font-size: 2em;
	border-bottom: 1px solid aqua;
}

@media only screen and (max-width: 868px){
	#ham{
		display: inline-block;
	}
	.hide{
		display: none;
	}
	#header nav{
		width: 100%;
		margin-left: 0;

	}
	#header nav li {
		display: list-item;
		padding: 1%;
		border-bottom: 1px solid #ddd;
	}
	
}
 .active{
	color:aqua !important; 
	font-size: 2em;
	border-bottom: 1px solid aqua;
}