
#ham{
font-size: 2em;
display:none;
float: right;
}
/*header*/

#header{
	padding: 2em;
}

#header a{
	text-decoration: none;
	color: inherit;
}


.head h1, .head h2{
	margin: 0;
}
.head h2{
	font-size: 16px;
}


/*navigation*/
#header nav{
	display:block;
	margin: 20px;
	margin-right: 0;
	color:#C0BAB6;
	background-color:#232323;
	overflow: hidden;

}
#header nav li{
	display:inline; 
	margin-right:25px; 
	text-transform:uppercase;
}
#header nav li a{
	color:#C0BAB6; 
	background-color:#232323;
}
#header nav li a:hover{
	color:orange; 
	background-color:#232323;
}


@media only screen and (max-width: 868px){
	#ham{
		display: inline-block;
	}
	.hide{
		display: none;
	}
	#header nav{
		width: 100%;
		margin-left: 0;

	}
	#header nav li {
		display: list-item;
		padding: 1%;
		border-bottom: 1px solid #ddd;
	}
	
}
