.aboutus{
	background: url(./../images/aboutus.jpg);
	height:300px;
	background-attachment: fixed;
	width: 100%;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;

}
.wrap{
	width: 100%;
	color: white;
	height: 100%;
	padding: 3em 0;
	 background: rgba(0,0,0,0.3);
	 font-size: 1.2em;
}
.aboutus h1{
	font-size: 40px;
	letter-spacing: 8px;
	margin-top: 0;
}
