body{
	background: #e1e1f4
	;
	margin: 0;
	font-family: "Montserrat" , "Avenir";
	overflow: hidden;
}

h1{
	text-align: center;
	background: steelblue;
	font-weight: normal;
	color: white;
	margin: 0;
	text-transform: uppercase;
	line-height: 1.1;
	padding: 20px 0;
	font-size: 2.5em;
}
.moves{
	text-transform: uppercase;
	color: steelblue;
	font-size: 1.2em;
	font-weight: 600: 
}

#container{
	max-width: 80%;
	margin: 20px auto;
	margin-top: 10%;
}
.t{
	width: 30%;
	margin: 1.667%;
	height: 220px;
	float: left;
	border-radius: 15%;
	border-bottom: 9px #421b1b solid;

}
.base{
	border-radius: 15%;
	padding:2px;
	width: 5px;
	height: 100%;
	margin: 0 auto;
	background: #421b1b;
}

.t span{
height: 25px ;
display: block;
margin: auto;
z-index: 100;
border-radius: 10px;

}

#stripe{
	background: white;
	color: black;
	text-align: center;
	height: 30px;

}

button{
	border:none;
	background: none;
	outline: none;
	text-transform: uppercase;
	height:100%;
	font-weight: 700;
	color: steelblue;
	letter-spacing: 1px; 
	font-size: inherit;
	
}
.moves{
	display: inline-block;
	width: 20%;
}
button:hover,.selected{
	color: white;
	background: steelblue;
}


#disc5{
	background-color: #91acff;
	width: 80%;
	
}
#disc4{
	background-color: #acefb7;
	width: 64%;

}
#disc3{
	background-color: #fbff9b;
	width: 48%;
	
}
#disc2{
	background-color: #ffb663;
	width: 32%;
	
}
#disc1{
	background-color: #ffa8a8;
	width: 16%;
	
}
.line span:nth-child(n+2){
	margin-top: -50px;
	background: aqua;

}
.line span:nth-child(1){
	margin-top: -29px;
}
@media only screen and (max-width: 600px){
	.t{
		height: 180px;
	}
}